<h3>Saved Articles</h3>
<div>
    {{#each article}}
      <div class="card">
        <div class = "card-body">
           <a href="{{this.link}}" class="card-title" target="_blank"><h4>{{this.title}}</h4></a>
           <p>{{this.summary}}</p>
            <form method="POST" action="/remove/{{this._id}}?_method=PUT">
                <button type="button" class="btn btn-default" id="Comment" data-toggle="modal" data-target="#CommentModal{{this._id}}">Add Comment</button>
                <button type="submit" class="btn btn-default" id="RemoveSaved">Remove Saved</button>
            </form>
            
        </div>
      </div>
    {{/each}}
  </div>

  {{#each article}}
  <div class="modal fade" id="CommentModal{{this._id}}" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">Add a Comment</h4>
            </div>
        </div>
      </div>

  </div>
  {{/each}}